/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-one: 'Poppins',
    sans-serif;
  --font-two: 'Roboto',
    sans-serif;

  --clr-white: #FFFFFF;
  --clr-grey: #7F7F7F;
  --clr-black: #000000;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-size: 1rem;
  font-family: var(--font-one);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: var(--clr-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  width: 89.6375px;
  background-color: #3498db;
  color: var(--clr-white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #0514e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}