/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-one: 'Poppins',
    sans-serif;
  --font-two: 'Roboto',
    sans-serif;

  --clr-white: #FFFFFF;
  --clr-grey: #7F7F7F;
  --clr-black: #000000;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-size: 1rem;
  font-family: var(--font-one);
}